@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.sideContent:hover a img {
  background-color: rgba(128, 0, 128, 0.5);
  transition: 0.5s ease-in;
}
@media (max-width: 767px) {
  .sideMenu {
    display: none;
    position: absolute;
    padding: 20px;
    right: -15px;
    width: 18rem;
    height: 100vh;
    top: -3px;
  }
  @keyframes mymove {
    from {right: -50px;}
    to {right: -10px;}
  }
}
